<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Audio-R-Us</h5>
        <p class="card-text">This is Audio-R-Us, which is an audio equipment reseller. ARU
            is an Harman dealer. You can create a new inventory / customer management
            system..</p>
        <a [routerLink]="['/inventory']" class="btn btn-primary">Go To Inventory </a>
    </div>
    <div class="card-footer text-muted">
        Announcements
    </div>
</div>